@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styeles */
.d-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #6c6c6c;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: #fff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 800;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.logo{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.nav-links li{
    list-style: none;
    padding: 0 20px;
}
.nav-links a{
    text-decoration: none;
    color: #424242;
}
.banner{
    margin: 50px auto;

}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    margin: 20px 0;;
}
.banner-img img{
    width: 100%;
    margin: 50px 0;
}
/* teams and features */
.teams{
    align-items: center;
    margin: 50px 0;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-team-info{
    margin-left: 73px;
    max-width: 530px;
}
/* features section */
.features{
    margin: 160px 0;
    gap: 146px;
}
#feature-title-ld{
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}
.feature-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin: 20px 0;
}
.feature-description{
    margin-top: 20px;
}
.feature-img button{
    margin-left: -100px;
    margin-top: -120px;
}

#jambo-text{
    font-size: 60px;
    font-weight: 700;

}
.team-description{
    margin: 20px 0;
}
#quick {
  font-weight: 500;  
}
/* facts section */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0;
}
.facts-description{
    max-width: 500px;
    margin: 0 auto;
}
.fact-card{
    height: 240px;
    width: 240px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fact-number{
    font-size: 2.5rem;
    font-weight: 500;
    color:#424242;
}
.fact-name{
    font-size: 1rem;
    font-weight: 600;
    color:#6c6c6c;
}
.facts-description{
    margin: 20px 0;
    color: #6c6c6c;
}
/* sponsors section */
.sponsor-info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponsors{
    margin: 100px 0;
}
.sponsor-description{
    margin: 20px 0;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px 0;
    justify-items: center;
    align-items: center;
}
.sponsor-img img{
    filter: grayscale(100%);
}
.sponsor-img img:hover {
    filter: grayscale(0%);
    transition-duration: 1s;
}
footer{
    max-width: 1440px;
    margin: 0 auto;
}
.footer-info{
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    padding: 40px 0;
    margin: 100px 0;
    border-radius: 5px;
}
/* responsive */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 30px;
    }
    .features{
        flex-direction: column;
        margin: 20px 0;
    }
    .feature-img{
        width: 80%;
        margin: 0 auto;
    }
    .feature-img img{
        width: 100%;
        margin: 0 auto;
    }
    .feature-img button {
        margin-left: 0;
        margin-top: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .facts-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px auto;
        gap:20px;
        justify-items: center;
    }
    .sponsor-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 40px auto;
    }
    .facts-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px auto;
        gap:20px;
        justify-items: center;
    }
}